* {
    margin: 0;
    padding: 0;
}

.text {
    color: rgba(0, 0, 0, 0.5)
}

.text:hover {
    color: #bf3317;
}

.dropdown-menu.active {
    display: block;
}

.menu {
    width: 100%;
}

.flex-end {
    justify-content: flex-end;
}

.form-control {
    width: 250px;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 10%);
    width: 100%;
}


/*body{
   height: 2000px;
}*/

footer {
    margin-top: 300px;
}

section {
    margin-top: 112px;
    padding: 2rem 9%;
}

.s1 {
    padding: 2rem 9%;
    position: relative;
    line-height: 1.15;
}

.s1 .slide-container .slide {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0 5%;
    /*background-color: rgb(236, 216, 216);*/
    background-color: #fff;
}

.s1 .slide-container .slide .content {
    flex: 1 1 40rem;
    animation: slideContent .3s linear 0.05s backwards;
}

@keyframes slideContent {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
}

.s1 .slide-container .slide .image {
    image-rendering: pixelated;
    flex: 1 1 60rem;
    padding-bottom: 15rem;
    position: relative;
    z-index: 0;
    object-fit: contain;
}

.s1 .slide-container .slide .image .shoe {
    max-width: 645px;
    height: 530px;
    transform: rotate(-10deg);
    animation: shoe .3s linear;
}

@keyframes shoe {
    0% {
        transform: rotate(0deg) scale(.5);
    }
}

.s1.slide-container .slide .content span {
    font-size: 2rem;
    color: orangered;
}

.s1 .slide-container .slide .content h3 {
    font-size: 5rem;
    color: #000;
}

.s1 .slide-container .slide .content p {
    font-size: 1.5rem;
    color: #666;
    padding: .3rem 0;
}

.btn1 {
    display: inline-block;
    margin-top: 1rem;
    /*border-radius: 3.5rem;*/
    border: 0.2rem solid #000;
    font-weight: bolder;
    font-size: 1.7rem;
    color: #000;
    cursor: pointer;
    background: #fff;
    padding: .7rem 3rem;
}

.btn1:hover {
    background-color: rgb(236, 216, 216);
    color: #070707;
}

.s1 .slide-container {
    display: none;
}

.s1 .slide-container.active {
    display: block;
}

.s1 #prev,
.s1 #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 77px;
    width: 78px;
    line-height: 2.25;
    font-size: 2rem;
    color: #000;
    border: 0.2rem solid #000;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.s1 #prev:hover,
.s1 #next:hover {
    color: #fff;
    background: rgb(236, 216, 216);
}

.s1 #prev {
    left: 3rem;
}

.s1 #next {
    right: 3rem;
}

#s2 {
    margin: 0;
    padding: 0;
}

h5:hover {
    background-color: rgb(241, 237, 245);
}

.guithu {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.guithu .content {
    text-align: center;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    background: #f9f9f9;
    padding: 2rem;
}

.guithu .content h3 {
    font-size: 2.5rem;
    color: #000;
}

.guithu .content p {
    font-size: 1.5rem;
    color: #666;
    margin: 1rem auto;
    max-width: 60rem;
}

.guithu .content form {
    margin: 1rem auto;
    max-width: 50rem;
    display: flex;
}

.guithu .content form .box {
    width: 100%;
    font-size: 1.7rem;
    text-transform: none;
    color: #333;
    padding: 1rem;
    border: .2rem solid #000;
    border-right: none;
    margin-top: 1rem;
}

.guithu .content form .btn1 {
    border-radius: none;
}


/* Header Nhung fix */